-
    var productList = [{name:'Clive Christian V for Women 50 мл (тестер)', imgSrc:'http://vipparfumer.msk.ru/image/cache/catalog/Boss/1_214-200x200.jpg', price:'2200 рублей', productLink:'#'},
    {name:'Clive Christian V for Women 50 мл (тестер)', imgSrc:'http://vipparfumer.msk.ru/image/cache/catalog/Boss/1_214-200x200.jpg', price:'2200 рублей', productLink:'#'},
    {name:'Clive Christian V for Women 50 мл (тестер)', imgSrc:'http://vipparfumer.msk.ru/image/cache/catalog/Boss/1_214-200x200.jpg', price:'2200 рублей', productLink:'#'}]

    var categoryCrumbs = ['Главная','Парфумерия']
    var productCrumbs = ['Главная','Парфумерия', 'Дезодоранты', 'Дезодорант Chanel "Chance Eau Fraiche", 150 ml']

    var productPagination ={mod:"product_mod", pages:16}

    var productCtatArray = [{mark:'mark_product-sale', title:'Дезодорант Armand Basi In Red, 150 ml', link:"#", price_nov:"400", price_old:"550", img:"http://vipparfumer.msk.ru/image/cache/catalog/15 мл/15 мл 2/img__0070__2012__11__16__16__41__27__armand__basi__enl-500x500-228x228.jpg"},
    {mark:'mark_product-sale', title:'Дезодорант Azzaro "Now Men", 150 ml', link:"#", price_nov:"400", price_old:"550", img:"http://vipparfumer.msk.ru/image/cache/catalog/15%20%D0%BC%D0%BB/604033-500x500-228x228.jpg"},
    {mark:'mark_product-sale', title:'Дезодорант Burberry "The Beat for Men", 150 ml', link:"#", price_nov:"400", price_old:"550", img:"http://vipparfumer.msk.ru/image/cache/catalog/15%20%D0%BC%D0%BB/604029-500x500-228x228.jpg"},
    {mark:'mark_product-sale', title:'Дезодорант Calvin Klein "CK Free", 150 ml', link:"#", price_nov:"400", price_old:"550", img:"http://vipparfumer.msk.ru/image/cache/catalog/15%20%D0%BC%D0%BB/604039-500x500-228x228.jpg"},
    {mark:'mark_product-sale', title:'Дезодорант Calvin Klein "Euphoria", 150 ml', link:"#", price_nov:"400", price_old:"550", img:"http://vipparfumer.msk.ru/image/cache/catalog/15%20%D0%BC%D0%BB/15%20%D0%BC%D0%BB%202/604010-500x500-228x228.jpg"},
    {mark:'mark_product-sale', title:'Дезодорант Calvin Klein "One Red", 150 ml", 150 ml', link:"#", price_nov:"400", price_old:"550", img:"http://vipparfumer.msk.ru/image/cache/catalog/%20%D0%BC%D0%B8%D0%BD%D0%B8%2050%D0%BC%D0%BB/604025-500x500-228x228.jpg"},]