section.advantages
    .advantages__wrapper
        input.slider__selector(type="radio" name="advantages" id="advantages-1" chesked)
        input.slider__selector(type="radio" name="advantages" id="advantages-2")
        input.slider__selector(type="radio" name="advantages" id="advantages-3")

        .advantages__item.advantages__item--fast
            b.advantages__title Быстро
            p.advantages__text Мы делаем свою работу быстро! Два часа пролетят незаметно и Вы — счастливый обладатель стильной стрижки-минутки.

        .advantages__item.advantages__item--cool
            b.advantages__title КРУТО
            p.advantages__text Забудьте, как вы стриглись раньше. Мы сделаем из Вас звезду футбола или кино. Во всяком случае внешне.

        .advantages__item.advantages__item--expensive
            b.advantages__title ДОРОГО
            p.advantages__text  Наши мастера — профессионалы своего дела и не могут стоить дёшево. К тому же, разве цена не даёт определённый статус?

        .slider.slider--advantages
            label.slider__btn.slider__btn--active(for="advantages-1")
            label.slider__btn(for="advantages-2")
            label.slider__btn(for="advantages-3")

