section.news
    .news__title НОВОСТИ И АКЦИИ
    article.news__item
        time.news__date(datetime="2016-09-29")
            span.news__date-big 29
            | сент
        a.news__link(href="#") Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.

    article.news__item
        time.news__date(datetime="2016-09-29")
            span.news__date-big 19
            | сент
        a.news__link(href="#") 
            | В нашей команде пополнение, Борис «Бритва» Стригунец, 
            span.news__only-mobile обладатель множества титулов и наград
            | пополнил наши стройные ряды. Спешите записаться!

    article.news__item
        time.news__date(datetime="2016-09-24")
            span.news__date-big 13
            | сент
        a.news__link(href="#") Все дорожает, а наши стрижки нет! Как так? Приходите, постригитесь и узнаете, в чем здесь подвох!

    a.btn.btn--news(href="#") Показать все        
