section.prices
    header.prices__header
        h2.prices__title Стрижка у нас <br> это выгодно!
        p.prices__text Мужская стрижка требует точного подхода. Обратимся к статистике:
        .prices__note--top <sub>*</sub> - приведенные данные ложь
    table.prices__list
        tr 
            td.prices__value 1 500 <sup>*</sup>
            td.prices__field рублей <br> вложений
        
        tr 
            td.prices__value 7 200 
            td.prices__field секунд <br> времени мастера

        tr 
            td.prices__value 90 000
            td.prices__field постриженных<br> волос

        tr
            td.prices__value 500 000 <sup>*</sup>
            td.prices__field лайков и <br>комплиментов    

    .prices__note--bottom <sub>*</sub> - приведенные данные ложь


