extends ../layout/layout

block title
  | Главная страница

block content 
  include ../sections/_prices
  include ../sections/_advantages
  include ../sections/_news
  include ../sections/_feedback
  
  //-  include ../sections/_stats
  //-  include ../sections/_advantages
  //-  include ../sections/_news
  //-  include ../sections/_reviews 







  


